<div class="container-fluid">
  <div class= "row">

    <%= render "admin/sidebar"  %>

  <div class="card mt-5 mb-5">
    <div class="card-header d-flex">
      <%= image_tag @item.picture, alt: 'picture', :id => "imgshow" %>
    </div>
  </div>
</div>
</div>
