<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		
		<h1>Merci pour votre commande</h1>
		<p>Vous trouverez ci-joint votre superbe photo de chat_</p>

	<% @items.each do |item|%> 	
		<img src="<%= item.image_url%>" class="card-img" alt="chat">
	<% end %> 


	</body>
</html>