<div class="jumbotron">
  <h1 class="display-3">Votre boutique 100% chat</h1>
  <p class="lead">Bienvenue sur votre boutique de photographies de chats. En pleine sieste, dans la nature ou en train de jouer, découvrez ces magnifiques photos de chats et chatons, touchants, mignons et craquants à souhait ! </p>

  <hr class="my-4">
  <p>Photographes : @Athénais, @Jérémy, @Sofia, @Eva, @Emilie</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Découvrir</a>
  </p>
</div>
