<div class="container mt-5">
  <div class="row">
    <div class="col-9">
      <div class="card mb3">
        <ul class="list-group list-group-flush">
          <% @all_items.each do |item| %>
            <li class="list-group-item"><%= image_tag item.image_url, alt: 'picture', :class => "bd-placeholder-img card-img-top" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-3">
      <div class="card mb3">
        <ul class="list-group list-group-flush">

          <li class="list-group-item">
            <h4>Total: </h4>
            <%= button_to "Passer la commande", root_path, class: "btn btn-secondary btn-sm btn-block", type: "button" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
