.page-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.section-heading {
  text-transform: uppercase;
  .section-heading-upper {
    display: block;
    font-size: 1rem;
    font-weight: 800;
  }
  .section-heading-lower {
    display: block;
    font-size: 3rem;
    font-weight: 100;
  }
}
