#imgshow {width: 70%; height: 38rem; margin-right: auto; margin-left: auto; object-fit: contain;}
.card-header {padding: 0!important;}
.iconplus {margin-top: auto; padding-left: 2%; padding-bottom: 2%; font-size: 1.5em; color: grey;}
.iconplus:hover {color: black;}
.sadcat {width: 15rem;}
.cart-button {min-width: 15rem;}

@media (min-width: 992px) {

  .intro-text {
    left: 0;
    width: 27rem;
    margin-top: -2rem;
    margin-left: 10rem;
    position: relative;

  }
}